<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'About Us'})  %> 
<body>
    <%- include('../partials/header', {page: 'about'}) %>
    <%- include('../partials/header-mobile', {page: 'about'}) %>

    <main class="bg-main pt-8 lg:pt-16">
        <section id="about-us-section" class="w-full bg-main container mx-auto py-10 px-8 lg:px-16">
            <h2 class="text-white font-semibold text-center lg:text-left text-3xl lg:text-5xl mt-4 lg:mt-16">About Us</h2>
            <div class="w-full flex flex-wrap flex-col-reverse lg:flex-row justify-center lg:justify-between items-center lg:items-start mb-4 lg:mb-6">
                <div class="w-full lg:w-1/2 py-10 flex flex-col justify-center items-start">
    
                    <div id="about-us-section-1" class=" mt-4 lg:mt-12">
                        <p class="text-light-grey w-full lg:w-11/12 text-sm lg:text-lg font-extralight about-us-paragraph-text pb-12 lg:pb-6">Super 360 started in 2020 October. The 360 technology in western 
                            countries has become very common, so that our Asian countries also 
                            enter this new era of technology and keep up with the times. The virtual 
                            tour is a vision that is developing rapidly and becoming popular worldwide. 
                        </p>
                        <p class="text-light-grey w-full lg:w-11/12 text-sm lg:text-lg font-extralight about-us-paragraph-text">
                            It has become the latest technology for entrepreneurs to display 
                            goods and finished products. The photography capture and reality 
                            of the real scene bring people a new sense of real modernity and 
                            interactive feeling, like the experience in the scene. Our service 
                            can also save more of your precious time. 
                        </p>
                    </div>
                </div>
                <div id="director-image" class="w-full lg:w-1/2 pt-12">
                    <img class="w-full lg:w-4/6 mx-auto mt-12 h-auto max-h-[540px] rounded-xl" src="https://res.cloudinary.com/techbytes-solutions/image/upload/v1651758888/director_ldzplu.jpg" />
                    <p class="text-sm text-center font-bold text-white pt-6">Director</p>
                </div>
            </div>
            <div id="about-us-section-2 w-full">
                <p class="text-light-grey text-sm lg:text-lg font-extralight about-us-paragraph-text pb-12 lg:pb-6">
                    At present, Malaysia's MCO is still ongoing, everyone looked the property 
                    on online, and buy at online. At the online can be more  save time and 
                    save labor. Because for the complete unsealing is still unknown. So this 
                    technology is very popular at this stage, everyone no need go to the scene 
                    to see their property. 
                </p>
                <p class="text-light-grey text-sm lg:text-lg font-extralight about-us-paragraph-text">
                    So our plan is to recommend our service to all developers and business sectors. 
                    And do a one-stop service to everyone, so everyone saves unnecessary trouble and 
                    time. This technology can be developed and is a great opportunity for us.
                </p>
            </div>
        </section>

        <section id="why-choose-us-section">
            <div class="container mx-auto py-16 px-4 lg:px-16">
                <h2 class="text-white font-semibold text-center lg:text-left text-3xl lg:text-5xl">Why Choose Us ?</h2>
                
                <!-- accordions -->
                
                <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-transparent text-white-900" data-inactive-classes="text-white-500" class="mt-16 px-2 lg:px-6">
                    <h2 id="accordion-flush-heading-1">
                        <button type="button" class="flex justify-start items-center py-5 w-full font-light text-left text-white text-base lg:text-2xl" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-fush-body-1">
                            <svg data-accordion-icon class="w-8 lg:w-6 h-8 lg:h-6 rotate-180 shrink-0 text-primary-orange" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>                  
                            <span class="pl-6">Super affordable and understanding</span>
                        </button>
                    </h2>
                    <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
                        <div class="py-5 px-10">
                            <p class="mb-2 text-gray-500 text-sm lg:text-base">We offer budget-friendly packages that suits your business needs</p>
                        </div>
                    </div>

                    <h2 id="accordion-flush-heading-2">
                        <button type="button" class="flex justify-start items-center py-5 w-full font-light text-left text-white text-base lg:text-2xl" data-accordion-target="#accordion-flush-body-2" aria-expanded="true" aria-controls="accordion-fush-body-2">
                            <svg data-accordion-icon class="w-8 lg:w-6 h-8 lg:h-6 rotate-180 shrink-0 text-primary-orange" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>                  
                            <span class="pl-6">One-time payment & permanent</span>
                        </button>
                    </h2>
                    <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">
                        <div class="py-5 px-10">
                            <p class="mb-2 text-gray-500 text-sm lg:text-base">We offer budget-friendly packages that suits your business needs</p>
                        </div>
                    </div>

                    <h2 id="accordion-flush-heading-3">
                        <button type="button" class="flex justify-start items-center py-5 w-full font-light text-left text-white text-base lg:text-2xl" data-accordion-target="#accordion-flush-body-3" aria-expanded="true" aria-controls="accordion-fush-body-3">
                            <svg data-accordion-icon class="w-8 lg:w-6 h-8 lg:h-6 rotate-180 shrink-0 text-primary-orange" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>                  
                            <span class="pl-6">Trustworthy & highly efficient</span>
                        </button>
                    </h2>
                    <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">
                        <div class="py-5 px-10">
                            <p class="mb-2 text-gray-500 text-sm lg:text-base">We offer budget-friendly packages that suits your business needs</p>
                        </div>
                    </div>

                    <h2 id="accordion-flush-heading-4">
                        <button type="button" class="flex justify-start items-center py-5 w-full font-light text-left text-white text-base lg:text-2xl" data-accordion-target="#accordion-flush-body-4" aria-expanded="true" aria-controls="accordion-fush-body-4">
                            <svg data-accordion-icon class="w-8 lg:w-6 h-8 lg:h-6 rotate-180 shrink-0 text-primary-orange" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>                  
                            <span class="pl-6">Quality work with unbelievable results</span>
                        </button>
                    </h2>
                    <div id="accordion-flush-body-4" class="hidden" aria-labelledby="accordion-flush-heading-4">
                        <div class="py-5 px-10">
                            <p class="mb-2 text-gray-500 text-sm lg:text-base">
                                We care about customer satisfaction from the moment we meet our clients.
                            </p>
                            <p class="mb-2 text-gray-500 text-sm lg:text-base">
                                You can trust us to deliver high quality results on time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="cta-section" class="container mx-auto py-16">
            <%- include('../partials/call-to-action', {ctaDesc: 'Persuaded? Find out what services we offer.', label: 'View services', href: '/services'}) %> 
        </div>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>