<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Features'})  %> 
<body>
    <%- include('../partials/header', {page: 'features'}) %>
    <%- include('../partials/header-mobile', {page: 'features'}) %>

    <main class="bg-main pt-4 md:pt-24">
        <!-- Features -->
        <section id="features-section" class="w-full bg-main container mx-auto py-10 px-4 lg:px-16">
            <div class="container mx-auto flex flex-row justify-center items-center py-10 px-3 lg:px-5">
                <%- include('../partials/section-header', {title: 'Features', desc: "Below are some of the features that you will see when working together with us."}) %>
            </div>

            <div class="w-full flex flex-row flex-wrap justify-start items-start mt-8 px-4 lg:px-10">
                <%- include('../partials/feature-card', {imageSrc: 'https://res.cloudinary.com/techbytes-solutions/image/upload/v1652717591/Untitled_design_5_w9wrgx.png', title: '3DVista', desc: 'Professional Virtual Tour Software',}) %> 
                <%- include('../partials/feature-card', {imageSrc: 'https://res.cloudinary.com/techbytes-solutions/image/upload/v1655196625/4k-photography_idbdt4.webp', title: '4K Photography', desc: 'High definition photos that can be retouched',}) %> 
                <%- include('../partials/feature-card', {imageSrc: 'https://res.cloudinary.com/techbytes-solutions/image/upload/v1655196626/branded-interface_z4brzf.webp', title: 'Branded Interface', desc: 'Maximise branding with your logo',}) %> 
                <%- include('../partials/feature-card', {imageSrc: 'https://res.cloudinary.com/techbytes-solutions/image/upload/v1655196628/booking-link_px8lea.webp', title: 'Booking Link', desc: 'Include a link for customers to place a booking',}) %> 
                <%- include('../partials/feature-card', {imageSrc: 'https://res.cloudinary.com/techbytes-solutions/image/upload/v1655196629/floor-plans_lgxyyj.webp', title: 'Floor Plans', desc: 'Create exact floor plans with dimensions',}) %> 
                <%- include('../partials/feature-card', {imageSrc: 'https://res.cloudinary.com/techbytes-solutions/image/upload/v1655196626/3d-model-views_afwdgo.webp', title: '3D Model Views', desc: 'Create super accurate doll house image of the places',}) %> 
                <%- include('../partials/feature-card', {imageSrc: 'https://res.cloudinary.com/techbytes-solutions/image/upload/v1655196629/drone-photography_lfr6on.webp', title: 'Drone Photography', desc: 'High quality aerial photos',}) %> 
                <%- include('../partials/feature-card', {imageSrc: 'https://res.cloudinary.com/techbytes-solutions/image/upload/v1655196624/4k-aerial-videos_egoew8.webp', title: '4K Aerial Videos', desc: 'Amazing high definition videos',}) %> 
            </div>
        </section>

        <section id="about-us-section" class="w-full bg-main container mx-auto py-10 px-8 lg:px-16">
            <h2 class="text-white font-semibold text-center text-3xl lg:text-5xl mt-4 lg:mt-24">Video Platform</h2>
            <!-- Cards -->
 
            <div class="w-full flex flex-col justify-center items-center">
                <%- include("../partials/video-platform-card", {isIframe: false, title: "Powerful Hotspots", videoURL: "https://res.cloudinary.com/techbytes-solutions/video/upload/v1653931522/powerful-hotspots-video_nhplsj.mp4", poster: "", desc: "Hotspots are the essence of a virtual tour. They allow your audience to click on objects and discover information and details inside the scene. Choose from our big library of icons, import your own images or highlight objects in your panoramas to work as clickable hotspots. The actions you can assign to a hotspot are many: Open a pop-up detail image, a 3D model, open a purchase window, a multifaceted info window, a website, download a file or play audio, video (360º video and normal video)."}) %>
                <%- include("../partials/video-platform-card", {isIframe: false, title: "Animated Panorama", videoURL: "https://res.cloudinary.com/techbytes-solutions/video/upload/v1653931525/animated-panorama-video_tmal5r.mp4", poster: "https://res.cloudinary.com/techbytes-solutions/image/upload/v1653967700/Screenshot_2022-05-31_at_11.28.10_AM_u8cspt.png", desc: "Imagine you could click on a person inside a panorama to make them start moving and talking. That's what an animated panorama is. Less heavy than entire 360º videos but more alive than still panoramas, animated panoramas are the ultimate way of informing your audience. As opposed to popping up an info window, the element itself, be it a person or - say a production line, starts moving inside the panorama when being clicked, to explain or demonstrate from within. Or you could simply make a fireplace light up or have the pot on the oven start steaming to create an ambience."}) %>
                <%- include("../partials/video-platform-card", {isIframe: true, title: "3D Transition Effect", videoURL: "https://storage.net-fs.com/hosting/2727323/27/index.htm", poster: "", desc: "The 3D animated transitions between 'stops' will give you a natural impression of movement which you may know from 3D models and scans. Rather than jumps from one spot to another, this technology will make you feel as if you're actually moving forwards towards the next position. All from pure photography"}) %>
                <%- include("../partials/video-platform-card", {isIframe: false, title: "360º Video", videoURL: "https://res.cloudinary.com/techbytes-solutions/video/upload/v1653931531/360-video_ebnrau.mp4", poster: "", desc: "A 360º scenery, but in movement! Just as with panoramas, you can place hotspots in your 360º videos to explain or highlight things in the scene. Those things are in movement? No problem - 360º video hotspots can be dynamic so as to move, appear, disappear and change in size with the object."}) %>
                <%- include("../partials/video-platform-card", {isIframe: true, title: "Adaptive HDR Panorama", videoURL: "https://slides.com/esmart/360-vr-autopilot/embed?style=hidden&byline=hidden&share=hidden", poster: "", desc: "We make HDR dynamic. Inspired by the behaviour of the human eye, which adapts to light and dark dynamically by adjusting the iris, we make the panoramas adapt. This means that depending on the area of the panorama that the user is looking at, light and exposure adapt accordingly. A great feature, unique to 3DVista, to make HDR seem more real."}) %>
                <%- include("../partials/video-platform-card", {isIframe: false, title: "Optimized For All Devices", videoURL: "https://res.cloudinary.com/techbytes-solutions/video/upload/v1653931533/optimised-for-devices_uvskub.mp4", poster: "", desc: "Tours created with VT PRO are always and automatically compatible with all devices, PCs, Macs, tablets, iOS and Android phones - without the need to install any special drivers or software. But there's more. Thanks to the flexibility of our skin editor, you can create skins that adapt to the user's screen size and resolution. Furthermore, the tour will realize from which device it is being opened and use the optimized media quality and frame rate to guarantee a flawless and fast-loading experience."}) %>
                <%- include("../partials/video-platform-card", {isIframe: false, title: "Maps, Floor Plans & Compass", videoURL: "https://res.cloudinary.com/techbytes-solutions/video/upload/v1653931535/maps-video_qmrghc.mp4", poster: "", desc: "Place maps or floor plans for orientation on top of your virtual tours. These can be equipped with hotspots, too, so that your audience can jump from room to room or even from floor to floor more quickly. A radar tool indicates at all times in which direction the user is currently looking."}) %>
                <%- include("../partials/video-platform-card", {isIframe: false, title: "Virtual Meeting Room", videoURL: "https://res.cloudinary.com/techbytes-solutions/video/upload/v1654820178/video-super_vnm1ti.mp4", poster: "", desc: "A virtual meeting room on a 360º tour, this feature can best be described as a relationship between a video call and 3DVista. Use your default virtual tour on your website and allow your audience to dial in and have you guide them through the virtual tour. They can look around themselves or follow your screen so you can point out details and give a personal (sales) presentation. They can also request that their screens be displayed on yours and other attendees' screens to ask questions about specific parts of the tour."}) %>
            </div>
        </section>

        <div id="cta-section" class="container mx-auto py-16">
            <%- include('../partials/call-to-action', {ctaDesc: 'Persuaded? Find out what services we offer.', label: 'Get Quote', href: '/contact'}) %> 
        </div>

        <%- include('../partials/whatsapp-button') %> 
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>
