<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Packages'})  %> 
<body>
    <%- include('../partials/header', {page: 'packages'}) %>

    <main class="bg-main pt-24">
        <!-- Packages -->
        <!-- For cleanup, package -> bundle -->
        <section id="packages-section" class="w-full bg-main container mx-auto py-10 md:px-16">
            <div class="container mx-auto flex flex-row justify-center items-center py-10 px-5">
                <%- include('../partials/section-header', {title: 'Packages', desc: "Here are three of the packages that we provide. Contact us if you require anymore details."}) %>
            </div>

            <div class="w-full flex flex-row justify-center items-start mt-2 packages-container">
                <%- include('../partials/package', {
                    title: 'Bronze Bundle',
                    points: '5',
                    isFeatured: false,
                    benefits: [
                        'Website link',
                        'Service for project'
                    ]
                }) %> 
                <%- include('../partials/package', {
                    title: 'Silver Bundle',
                    points: '15',
                    isFeatured: true,
                    benefits: [
                        'Everything in Bronze Bundle',
                        'Original project',
                        'Free HD video project for 15s'
                    ]
                }) %> 
                <%- include('../partials/package', {
                    title: 'Gold Bundle',
                    points: '35',
                    isFeatured: false,
                    benefits: [
                        'Everything in Silver Bundle',
                        '5 Free points',
                        'Free 4K video project for 30s'
                    ]
                }) %> 
            </div>
        </section>

        <!-- Advantages -->
        <section id="advantages-section" class="w-full bg-main container mx-auto py-10 md:px-16">
            <div class="container mx-auto flex flex-row justify-center items-center py-10 px-5">
                <%- include('../partials/section-header', {title: 'Advantages', desc: "Here are just a few of the advanatages you gain when working togther with us."}) %>
            </div>

            <div class="w-full flex flex-row flex-wrap justify-start items-start mt-8 px-10">
                <%- include('../partials/advantage-card', {iconName: 'video', title: 'Increase Sales', desc: 'It will be a stronghold for attracting more sales without compromising safety'}) %> 
                <%- include('../partials/advantage-card', {iconName: 'users', title: 'Stand Out From Others', desc: 'Virtual tour give you a competitive edge and make your business stand out in the Market'}) %> 
                <%- include('../partials/advantage-card', {iconName: 'arrow-down', title: 'Reduce Bounce Rate', desc: 'You can use the virtual tour to keep visitors engaged for longer periods of time'}) %> 
                <%- include('../partials/advantage-card', {iconName: 'dollar-sign', title: 'Save Cost', desc: 'The virtual tour do not require any other software to embed on your website/social media platform'}) %> 
                <%- include('../partials/advantage-card', {iconName: 'clock', title: 'Save Time', desc: 'Customers can preview your business anytime and anywhere'}) %> 
                <%- include('../partials/advantage-card', {iconName: 'smartphone', title: 'Social Media', desc: 'Embedded on all social Media Platforms'}) %> 
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>