<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Packages'})  %> 
<body>
    <%- include('../partials/header', {page: 'packages'}) %>
    <%- include('../partials/header-mobile', {page: 'packages'}) %>

    <main class="bg-main pt-8 md:pt-24">
        <!-- Packages -->
        <!-- For cleanup, package -> bundle -->
        <section id="packages-section" class="w-full bg-main container mx-auto py-10 px-0 lg:px-16">
            <div class="container mx-auto flex flex-row justify-center items-center pb-10 px-4 lg:px-5">
                <%- include('../partials/section-header', {title: 'Packages', desc: "Here are three of the packages that we provide. Contact us if you require anymore details."}) %>
            </div>

            <div class="w-full flex flex-row flex-wrap justify-center items-start mt-2 packages-container">
                <%- include('../partials/package', {
                    title: 'Bronze Bundle',
                    points: '5',
                    isFeatured: false,
                    benefits: [
                        'Website link',
                        'Service for project'
                    ]
                }) %> 
                <%- include('../partials/package', {
                    title: 'Silver Bundle',
                    points: '15',
                    isFeatured: true,
                    benefits: [
                        'Everything in Bronze Bundle',
                        'Original project',
                        'Free HD video project for 15s'
                    ]
                }) %> 
                <%- include('../partials/package', {
                    title: 'Gold Bundle',
                    points: '35',
                    isFeatured: false,
                    benefits: [
                        'Everything in Silver Bundle',
                        '5 Free points',
                        'Free 4K video project for 30s'
                    ]
                }) %> 
            </div>
        </section>

        <%- include('../partials/whatsapp-button') %> 
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>