<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Services'})  %> 
<body>
    <%- include('../partials/header', {page: 'services'}) %>
    <%- include('../partials/header-mobile', {page: 'services'}) %>

    <main class="bg-main pt-4 md:pt-24">
        <!-- Services -->
        <section id="services-section" class="w-full bg-main container mx-auto py-10 px-2 lg:px-16">
            <div class="container mx-auto flex flex-row justify-center items-center py-10 px-5">
                <%- include('../partials/section-header', {title: 'Services', desc: "Here are a few example of the services we offer, for more information you can contact us through WhatsApp or our phone number."}) %>
            </div>

            <div class="w-full flex flex-col justify-center items-center">
                <%- include('../partials/service-info', {id: '0', isReversed: false, title: 'Commercial Capture', desc: 'Our coverage of commercial will be shop lots (any range or size), car showroom etc.', url: 'https://kuula.co/share/collection/7qQtL?logo=-1&card=1&info=0&fs=1&vr=1&sd=1&initload=0&autopalt=1&thumbs=1', imgLink: 'https://res.cloudinary.com/techbytes-solutions/image/upload/v1651758888/commercial-preview_cscype.png'}) %> 
                <%- include('../partials/service-info', {id: '1', isReversed: true, title: 'Residential Capture', desc: 'Our coverage of residential will be townhouse, residence, condominium, apartment etc.', url: 'https://kuula.co/share/collection/7qTVx?logo=-1&card=1&info=0&fs=1&vr=1&sd=1&initload=0&autopalt=1&thumbs=1', imgLink: 'https://res.cloudinary.com/techbytes-solutions/image/upload/v1651758891/residential-preview_rrgzty.png'}) %> 
                <%- include('../partials/service-info', {id: '2', isReversed: false, title: 'Industry Capture', desc: 'Our coverage of industry will be factory, link factory etc.', url: 'https://kuula.co/share/collection/7q2qx?logo=-1&card=1&info=0&fs=1&vr=1&sd=1&initload=0&autopalt=1&thumbs=1', imgLink: 'https://res.cloudinary.com/techbytes-solutions/image/upload/v1651758888/industry-preview_xoktmn.png'}) %> 
            </div>
        </section>

        <!-- Benefits -->
        <section id="benefits-section" class="w-full bg-main container mx-auto py-10 px-2 lg:px-16">
            <div class="container mx-auto flex flex-row justify-center items-center py-10 px-3 lg:px-5">
                <%- include('../partials/section-header', {title: 'Benefits', desc: "Using our services comes with several benefits you can see below."}) %>
            </div>

            <div class="w-full flex flex-row flex-wrap justify-center items-start mt-8 px-2 lg:px-10 relative">
                <%- include('../partials/blurred-info-card', {iconName: 'plus-circle', text: 'Effective Control Plan'}) %> 
                <%- include('../partials/blurred-info-card', {iconName: 'shield', text: 'Completely Secured'}) %> 
                <%- include('../partials/blurred-info-card', {iconName: 'video', text: 'Virtual Tour'}) %> 
                <%- include('../partials/blurred-info-card', {iconName: 'phone-call', text: 'Dedicated Support'}) %> 
                <%- include('../partials/blurred-info-card', {iconName: 'zap', text: 'Extended Speed'}) %> 
                <%- include('../partials/blurred-info-card', {iconName: 'settings', text: 'Simple Configuration'}) %> 
                <div class="blurred-cards-bg-blob"></div>
            </div>

        </section>
        
        <div id="cta-section" class="container mx-auto py-16">
            <%- include('../partials/call-to-action', {ctaDesc: 'Persuaded? Find out what services we offer.', label: 'Get Quote', href: '/contact'}) %> 
        </div>

        <%- include('../partials/whatsapp-button') %> 
    </main>

    <%- include('../partials/footer') %> 
    <script type="text/javascript" src="/js/services.js"></script>
</body>
</html>