<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Services'})  %> 
<body>
    <%- include('../partials/header', {page: 'services'}) %>
    <%- include('../partials/header-mobile', {page: 'services'}) %>

    <main class="bg-main pt-24">
        <!-- Services -->
        <section id="services-section" class="w-full bg-main container mx-auto py-10 px-2 lg:px-16">
            <div class="container mx-auto flex flex-row justify-center items-center py-10 px-5">
                <%- include('../partials/section-header', {title: 'Services', desc: "Here are a few example of the services we offer, for more information you can contact us through WhatsApp or our phone number."}) %>
            </div>

            <div class="w-full flex flex-col justify-center items-center">
                <%- include('../partials/service-info', {id: '0', isReversed: false, title: 'Commercial Capture', desc: 'Our coverage of commercial will be shop lots (any range or size), car showroom etc.', url: 'https://kuula.co/share/collection/7qQtL?logo=-1&card=1&info=0&fs=1&vr=1&sd=1&initload=0&autopalt=1&thumbs=1', imgLink: 'commercial-preview.png'}) %> 
                <%- include('../partials/service-info', {id: '1', isReversed: true, title: 'Residential Capture', desc: 'Our coverage of residential will be townhouse, residence, condominium, apartment etc.', url: 'https://kuula.co/share/collection/7qTVx?logo=-1&card=1&info=0&fs=1&vr=1&sd=1&initload=0&autopalt=1&thumbs=1', imgLink: 'residential-preview.png'}) %> 
                <%- include('../partials/service-info', {id: '2', isReversed: false, title: 'Industry Capture', desc: 'Our coverage of industry will be factory, link factory etc.', url: 'https://kuula.co/share/collection/7q2qx?logo=-1&card=1&info=0&fs=1&vr=1&sd=1&initload=0&autopalt=1&thumbs=1', imgLink: 'industry-preview.png'}) %> 
            </div>
        </section>

        <!-- Benefits -->
        <section id="benefits-section" class="w-full bg-main container mx-auto py-10 px-2 lg:px-16">
            <div class="container mx-auto flex flex-row justify-center items-center py-10 px-3 lg:px-5">
                <%- include('../partials/section-header', {title: 'Benefits', desc: "Using our services comes with several benefits you can see below."}) %>
            </div>

            <div class="w-full flex flex-row flex-wrap justify-center items-start mt-8 px-2 lg:px-10 relative">
                <%- include('../partials/blurred-info-card', {iconName: 'plus-circle', text: 'Effective Control Plan'}) %> 
                <%- include('../partials/blurred-info-card', {iconName: 'shield', text: 'Completely Secured'}) %> 
                <%- include('../partials/blurred-info-card', {iconName: 'video', text: 'Virtual Tour'}) %> 
                <%- include('../partials/blurred-info-card', {iconName: 'phone-call', text: 'Dedicated Support'}) %> 
                <%- include('../partials/blurred-info-card', {iconName: 'zap', text: 'Extended Speed'}) %> 
                <%- include('../partials/blurred-info-card', {iconName: 'settings', text: 'Simple Configuration'}) %> 
                <div class="blurred-cards-bg-blob"></div>
            </div>

        </section>

        <!-- Features -->
        <section id="features-section" class="w-full bg-main container mx-auto py-10 px-4 lg:px-16">
            <div class="container mx-auto flex flex-row justify-center items-center py-10 px-3 lg:px-5">
                <%- include('../partials/section-header', {title: 'Features', desc: "Below are some of the features that you will see when working together with us."}) %>
            </div>

            <div class="w-full flex flex-row flex-wrap justify-start items-start mt-8 px-4 lg:px-10">
                <%- include('../partials/feature-card', {imageSrc: '4k-photography.jpg', title: '4K Photography', desc: 'High definition photos that can be retouched'}) %> 
                <%- include('../partials/feature-card', {imageSrc: 'branded-interface.png', title: 'Branded Interface', desc: 'Maximise branding with your logo'}) %> 
                <%- include('../partials/feature-card', {imageSrc: 'booking-link.png', title: 'Booking Link', desc: 'Include a link for customers to place a booking'}) %> 
                <%- include('../partials/feature-card', {imageSrc: 'floor-plans.png', title: 'Floor Plans', desc: 'Create exact floor plans with dimensions'}) %> 
                <%- include('../partials/feature-card', {imageSrc: '3d-model-views.png', title: '3D Model Views', desc: 'Create super accurate doll house image of the places.'}) %> 
                <%- include('../partials/feature-card', {imageSrc: 'drone-photography.jpg', title: 'Drone Photography', desc: 'High quality aerial photos'}) %> 
                <%- include('../partials/feature-card', {imageSrc: '4k-aerial-videos.jpg', title: '4K Aerial Videos', desc: 'Amazing high definition videos'}) %> 
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %> 
    <script type="text/javascript" src="/js/services.js"></script>
</body>
</html>