<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Video Platform'})  %> 
<body>
    <%- include('../partials/header', {page: 'video-platform'}) %>
    <%- include('../partials/header-mobile', {page: 'video-platform'}) %>

    <main class="bg-main pt-4 md:pt-24">
        <section id="about-us-section" class="w-full bg-main container mx-auto py-10 px-8 lg:px-16">
            <h2 class="text-white font-semibold text-center lg:text-left text-3xl lg:text-5xl mt-4 lg:mt-24">Video Platform</h2>
            <!-- Cards -->
 
            <div class="w-full flex flex-col justify-center items-center">
                <%- include("../partials/video-platform-card", {isIframe: false, title: "Powerful Hotspots", videoURL: "https://res.cloudinary.com/techbytes-solutions/video/upload/v1653931522/powerful-hotspots-video_nhplsj.mp4", poster: "", desc: "Hotspots are the essence of a virtual tour. They allow your audience to click on objects and discover information and details inside the scene. Choose from our big library of icons, import your own images or highlight objects in your panoramas to work as clickable hotspots. The actions you can assign to a hotspot are many: Open a pop-up detail image, a 3D model, open a purchase window, a multifaceted info window, a website, download a file or play audio, video (360º video and normal video)."}) %>
                <%- include("../partials/video-platform-card", {isIframe: false, title: "Animated Panorama", videoURL: "https://res.cloudinary.com/techbytes-solutions/video/upload/v1653931525/animated-panorama-video_tmal5r.mp4", poster: "https://res.cloudinary.com/techbytes-solutions/image/upload/v1653967700/Screenshot_2022-05-31_at_11.28.10_AM_u8cspt.png", desc: "Imagine you could click on a person inside a panorama to make them start moving and talking. That's what an animated panorama is. Less heavy than entire 360º videos but more alive than still panoramas, animated panoramas are the ultimate way of informing your audience. As opposed to popping up an info window, the element itself, be it a person or - say a production line, starts moving inside the panorama when being clicked, to explain or demonstrate from within. Or you could simply make a fireplace light up or have the pot on the oven start steaming to create an ambience."}) %>
                <%- include("../partials/video-platform-card", {isIframe: true, title: "3D Transition Effect", videoURL: "https://storage.net-fs.com/hosting/2727323/27/index.htm", poster: "", desc: "The 3D animated transitions between 'stops' will give you a natural impression of movement which you may know from 3D models and scans. Rather than jumps from one spot to another, this technology will make you feel as if you're actually moving forwards towards the next position. All from pure photography"}) %>
                <%- include("../partials/video-platform-card", {isIframe: false, title: "360º Video", videoURL: "https://res.cloudinary.com/techbytes-solutions/video/upload/v1653931531/360-video_ebnrau.mp4", poster: "", desc: "A 360º scenery, but in movement! Just as with panoramas, you can place hotspots in your 360º videos to explain or highlight things in the scene. Those things are in movement? No problem - 360º video hotspots can be dynamic so as to move, appear, disappear and change in size with the object."}) %>
                <%- include("../partials/video-platform-card", {isIframe: true, title: "Adaptive HDR Panorama", videoURL: "https://slides.com/esmart/360-vr-autopilot/embed?style=hidden&byline=hidden&share=hidden", poster: "", desc: "We make HDR dynamic. Inspired by the behaviour of the human eye, which adapts to light and dark dynamically by adjusting the iris, we make the panoramas adapt. This means that depending on the area of the panorama that the user is looking at, light and exposure adapt accordingly. A great feature, unique to 3DVista, to make HDR seem more real."}) %>
                <%- include("../partials/video-platform-card", {isIframe: false, title: "Optimized For All Devices", videoURL: "https://res.cloudinary.com/techbytes-solutions/video/upload/v1653931533/optimised-for-devices_uvskub.mp4", poster: "", desc: "Tours created with VT PRO are always and automatically compatible with all devices, PCs, Macs, tablets, iOS and Android phones - without the need to install any special drivers or software. But there's more. Thanks to the flexibility of our skin editor, you can create skins that adapt to the user's screen size and resolution. Furthermore, the tour will realize from which device it is being opened and use the optimized media quality and frame rate to guarantee a flawless and fast-loading experience."}) %>
                <%- include("../partials/video-platform-card", {isIframe: false, title: "Maps, Floor Plans & Compass", videoURL: "https://res.cloudinary.com/techbytes-solutions/video/upload/v1653931535/maps-video_qmrghc.mp4", poster: "", desc: "Place maps or floor plans for orientation on top of your virtual tours. These can be equipped with hotspots, too, so that your audience can jump from room to room or even from floor to floor more quickly. A radar tool indicates at all times in which direction the user is currently looking."}) %>
            </div>
        </section>
    </main>

    <%- include('../partials/footer') %> 
    <script type="text/javascript" src="/js/services.js"></script>
</body>
</html>