<header>
    <div id="custom-nav" class="w-full absolute top-0 left-0">
        <div class="w-full py-10 px-10 flex flex-row justify-between">
            <div id="logo" class="w-1/5 uppercase font-extrabold text-2xl super-logo flex justify-center items-center">
                <a href="/">Super.360</a>
            </div>
            

            <ul id="nav-items" class="w-3/5 flex flex-row justify-center items-center">
                <%- include('../partials/nav-link', {navLink: 'home', href: "/", page: page || ''}) %>
                <%- include('../partials/nav-link', {navLink: 'about', href: "/about-us", page: page || ''}) %>
                <%- include('../partials/nav-link', {navLink: 'services', href: "/services", page: page || ''}) %>
                <%- include('../partials/nav-link', {navLink: 'packages', href: "/packages", page: page || ''}) %>
            </ul>

            <div class="w-1/5">
                <%- include('../partials/button', {label: 'contact', href: '/contact', isPrimary: false}) %>
            </div>
        </div>
    </div>
</header>
